body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 192, 235);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.header > * {
  margin-right: 20px;
}

.header .search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.header .search-bar input {
  width: 200px;
  padding: 10px;
  padding-right: 30px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header .search-icon {
  position: absolute;
  right: 10px;
  color: #007bff;
  font-size: 20px;
}

.results-summary {
  background-color: #f0f0f0; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.result-count {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.user-list-container {
  background-color: #f0f0f0; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-item img {
  border-radius: 50%;
  margin-right: 10px;
}

.user-item button {
  margin-left: auto;
  padding: 5px 10px;
  font-size: 14px;
  
padding: 8px 12px;
border: none;
background-color: #fff;
color: #0072eb;
cursor: pointer;
border-radius: 5px;
border-style: solid;
border-color: solid 1px #8bbaed;

}

.user-detail {
  margin-top: 20px;
}

.user-detail h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.sort-filter {
  margin-right: 20px;
}

.sort-filter select {
  padding: 8px;
  font-size: 14px;
}

.pagination-controls {
  position: absolute; 
  bottom: 20px;
  right: 20px; 
  display: flex;
  gap: 10px; 
}

.pagination-controls button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-controls button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

